/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
  padding: 0;
}
body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}
/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* ACTUAL CSS */

:root {
  --bg-color: #111;
  --light-bg-color: #666;
  --accent-color: #ffff00;
  --text-color: whitesmoke;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--text-color);
  background: var(--bg-color);
  height: 100vh;
  width: 100vw;
}

.main-window {
  display: flex;
  flex-direction: column;

  aspect-ratio: 16/9;
  height: 90%;

  border: 3px solid var(--accent-color);
}

header {
  display: flex;
  align-items: center;

  border-bottom: 1px solid var(--accent-color);
  padding-left: 40px;
  height: 10%;
}

main {
  display: flex;
  height: 90%;
}

nav {
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 25%;
  border-right: 1px solid var(--accent-color);
  padding-left: 40px;
}

nav ul {
  display: flex;
  flex-direction: column;

  height: 50%;
  padding-left: 20px;
  list-style: none;
}

nav ul:first-child {
  justify-content: space-evenly;
}

nav ul:first-child li {
  cursor: pointer;
}

nav ul:last-child li p {
  cursor: pointer;
}

nav p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

#addProject {
  position: relative;
  font-size: 2rem;
  background: var(--light-bg-color);
  padding: 0 1rem;
  border-radius: 100%;
  margin-right: 30px;
  cursor: pointer;
}

#addProject:hover::before {
  content: "Add Project";
  font-size: 1rem;
  white-space: nowrap;

  position: absolute;
  top: -30px;
  left: -10px;
}

.project-nav {
  gap: 10px;

  padding-top: 20px;

  overflow-y: auto;
}

.project-nav-element {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  position: relative;
}

.nav-project-name-container {
  width: 75%;
}

.project-nav-element p,
nav ul:first-child li {
  display: inline-block;
  transition-duration: 200ms;
}

nav ul:first-child li.selected-project,
li.selected-project p {
  margin-left: 20px;
}

.input-container,
.rename-project-container,
.delete-project-container {
  padding-right: 20px;
}

.delete-project-container {
  flex: 1;
}

.delete-button-line-breaker {
  flex-basis: 100%;
  height: 0;
}

.project-nav-element input,
.rename-project-input {
  width: 100%;
  padding: 4px 10px;
}

.nav-button-container,
.rename-project-button-container,
.delete-project-button-container,
.title-request-button-container,
.edit-todo-button-container {
  flex: 1;
  display: flex;
  justify-content: space-between;
  gap: 10px;

  width: 100%;
  margin-top: 10px;
}

.title-request-button-container {
  display: flex;
  justify-content: center;

  width: 100%;
  margin-top: 10px;
}

.add-button,
.cancel-button,
.rename-button,
.delete-button,
.add-todo-button,
.edit-todo-button,
.ok-button {
  display: inline-block;
  color: var(--text-color);
  width: 50%;
  padding: 4px 10px;
  border-radius: 16px;
}

.add-button,
.rename-button,
.add-todo-button,
.edit-todo-button,
.ok-button {
  background-color: green;
}

.delete-button {
  background-color: red;
}

.cancel-button {
  background-color: var(--light-bg-color);
}

.verify-delete-container,
.title-request-container {
  background: var(--bg-color);
  padding: 40px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.warning-message {
  color: red;
  text-align: center;
  white-space: nowrap;
}

.project-options-container > * {
  cursor: pointer;
}

.project-options-container {
  display: flex;
  gap: 30px;
  width: 25%;
  position: relative;
}

.project-options-container i:hover {
  scale: 1.2;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 75%;
}

.project-name-container {
  display: flex;
  justify-content: space-between;
  padding: 30px 40px;
}

.sort-container {
  display: flex;
  gap: 20px;
}

.sort-by-name,
.sort-by-priority,
.sort-by-date {
  position: relative;
  cursor: pointer;
}

.selected-sort {
  text-decoration: underline;
  scale: 1.2;
}

.add-todo-container,
.edit-todo-form-container {
  display: flex;
  gap: 20px;

  padding: 10px 0 10px 40px;
  cursor: pointer;
  transition-duration: 250ms;
}

.add-todo-container:hover {
  margin-left: 10px;
}

.add-todo-form,
.edit-todo-form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 10px 40px;
  width: 100%;
}

.add-todo-form > div,
.edit-todo-form > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-todo-form input,
.add-todo-form textarea,
.edit-todo-form input,
.edit-todo-form textarea {
  width: 75%;
  padding: 5px 10px;
}

.add-todo-form textarea,
.edit-todo-form textarea {
  resize: none;
}

.add-todo-project-container {
  display: flex;
  justify-content: flex-start;
}

.add-todo-project-container select {
  width: 25%;
  padding: 5px 20px;
}

.add-todo-form > .add-todo-button-container {
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
  width: 30%;
}

.priority-buttons-container {
  display: flex;
  gap: 20px;

  width: 75%;
}

.no-priority-button,
.low-priority-button,
.medium-priority-button,
.high-priority-button {
  --button-color: transparent;
  text-align: center;
  border: 1px solid var(--button-color);
  width: 100%;
  padding: 5px 20px;
}

.low-priority-button,
.medium-priority-button,
.high-priority-button {
  --button-color: transparent;
  color: var(--button-color);
  cursor: pointer;
}

.low-priority-button {
  --button-color: green;
}

.medium-priority-button {
  --button-color: orange;
}
.high-priority-button {
  --button-color: red;
}

.low-priority-button:hover,
.low-priority-button.selected,
.medium-priority-button:hover,
.medium-priority-button.selected,
.high-priority-button:hover,
.high-priority-button.selected {
  background: var(--button-color);
  color: var(--text-color);
  border-color: var(--text-color);
}

.done {
  user-select: none;
}

.right-side-todo-container > .priority {
  cursor: default;
}

.done > .right-side-todo-container > .priority:hover {
  background-color: inherit;
  color: var(--button-color);
  border: 1px solid var(--button-color);
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  overflow-y: auto;
  height: 100%;
}

.todo-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 100%;
  height: 4rem;
  cursor: default;
}

.todo-content-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;

  padding: 10px 20px;
  width: 100%;
}

.todo-content-container.done {
  text-decoration: line-through;
  color: var(--light-bg-color);
}

.status-container {
  padding-top: 3px;
}

.title-description-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  max-width: 30%;
  height: 100%;
  cursor: pointer;
}

.description-container {
  overflow: hidden;
  padding-right: 20px;
}

.description-is-closed {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.todo-project-container {
  display: flex;
  gap: 10px;
  width: 20%;
}

.todo-container > .selected {
  cursor: default;
  user-select: none;
}

.right-side-todo-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  width: 50%;
}

.due-date,
.priority,
.todo-options-container {
  white-space: nowrap;
}

.due-date {
  flex: 2;
}

.priority {
  text-align: center;
  flex: 1;
}

.todo-options-container {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.todo-options-container > * {
  cursor: pointer;
}
